main {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

h3 {
    text-decoration: underline;
}

#pcpp-btn {
    position: relative;
    width: 90%;
    max-width: fit-content;
    height: fit-content;
}

#pcpp-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

#pcpp-btn:hover #pcpp-img {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

#hover-text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
    text-align: center;
    color: white;
    visibility: hidden;
}

#pcpp-btn:hover #hover-text {
    visibility: visible;
}

#survey {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#survey label::after {
    content: "\a";
    white-space: pre;
}

#question-2 {
    width: 50%;
    min-width: min-content;
}

#question-2 label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: right;
    margin: 4px;
}

#question-2 label:hover {
    background-color: lightgray;
}

#question-2 label::after {
    position: absolute;
}

#submit-btn {
    width: 15%;
    height: 3em;
    margin: 20px;
    background-color: lightgreen;
    border-radius: 10px;
}

#submit-btn:hover {
    color: white;
    background-color: green;
}